.page{
    
    text-align: center;
    border-color:black;
    border-style:  solid ;
    border-width: 5px;
    background-image: url("download.jpg");
    background-size: cover;
    padding: 50px;
    font-size: large;

  
}

.color {
    color: black   ;
}